html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
    vertical-align: baseline;
}

pre,code {
    font-family: Consolas;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*
elementUI-reset
*/
.el-header,
.el-main,
.el-footer {
    padding: 0;
}

.el-card__header {
    padding: 10px 15px;
}

.el-card__body {
    padding: 10px;
}

/*
editor-teset
*/

.quill-editor {
    box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
}

.ql-container.ql-snow {
    min-height: 1000px;
    background: white;
    font-size: 16px;
    /*font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;*/
}

.el-message.small-message {
    min-width: 100px !important;
}

.blog-detail .box-card .ql-snow .ql-editor pre.ql-syntax {
    overflow-x: scroll;
    white-space: pre;
}

.blog-detail .box-card .ql-snow .ql-editor pre.ql-syntax::-webkit-scrollbar {
    display: none;
}
